<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style1.css">
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header>
		<!-- <img src="./img/classes-bg.png"> -->
		<!-- <section class="section hero bg-dark has-after has-bg-image" id="home" aria-label="hero" data-section
        style="background-image: url('./img/classes-bg.png')"> -->
		<i class="bar" name="barbell-sharp"></i>
        <h1 class="mov" >Fitness<span style="color: red; font-size:xx-large;">Rudra</span></h1>
        <nav>
            <ul>
                <li><a href="" class="anch">HOME</a></li>
                <li><a href="" class="anch">FEATURES</a></li>
                <li><a href="" class="anch">CONTACT</a></li>
                <li><a href="" class="anch">LOGIN</a></li>
            </ul>
        </nav>
    </header>
   
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="Username" placeholder="Username" />
			<input type="password" placeholder="Password" />
			<button>Login</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>LOGIN</h1>
			<input type="Username" placeholder="UserName" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Login</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="Login">Login</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details to Login</p>
				<button class="ghost" id="Login">Login</button>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="foo">
		<h1>Copyright @ 2022 FitnessRudra.All rights reserved.</h1>
		<ul>
			<li><a href="" class="lilo">Privacy Policy</a></li>
			<li><a href="" class="lilo">Terms & Condition</a></li>
			<li><a href="" class="lilo">Biling , Return & Cancellation</a></li>
		</ul>
	</div>
</footer>





</body>
</html>